*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body
{
    font-family: 'Montserrat', sans-serif;
 
    position: relative;

    -webkit-transition: all .7s ease;
            transition: all .7s ease;

    background-color: #fff;
}

body.lock {
    overflow: hidden;
}

body.switchMode
{
    background-color: #000;
}

.container
{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}

header
{
    position: relative;
    width: 100%;
    height: 100vh;

}

.header_head
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.header_head:before {
    content: '  ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #191819;
    z-index: 3;
}

.head_inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.header_body {
    display: flex;
    align-items: center;
}

.head_inner .logo
{
    font-size: 20px;
    font-weight: bold;

    color: #ccc;
    text-decoration: none;
    position: relative;
    z-index: 5;
}

.head_inner nav ul
{   
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 3 ;
}

.head_inner nav ul li
{
    list-style-type: none;
}

.head_inner nav ul li a
{
    font-size: 14px;

    display: inline-block;

    padding: 20px 30px;

    text-decoration: none;
    text-transform: uppercase;

    color: #ccc;
    transition: all 0.3s ease;
}

.head_inner nav ul li a:hover 
{
    letter-spacing: 1px;
}

.head_inner nav ul li.switch span
{
    display: inline-block;

    position: relative;

    overflow: hidden;

    width: 45px;
    height: 24px;
    margin-top: 5px;
    padding: 0;

    border: 1px solid #ccc;
    border-radius: 10em;
    cursor: pointer;
}

.head_inner nav ul li.switch span:after
{
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;

    content: '';
    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    border-radius: 10em;
    background-color: #ccc;
}


.change-lang {
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    height: 24px;
    background-color: #ccc;
    font-size: 14px;
    cursor: pointer;
}

body.switchMode .head_inner nav ul li.switch span:after
{
    left: 20px;
}

.header_body
{
    position: relative;

    width: 100%;
    height: 100%;
}

.header_body_inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_body_inner .title
{
    font-size: 46px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    color: #333;
}

.header_body_inner .title span
{
    color: #f83b3a;
}



a.btn
{
    font-weight: bold;

    display: inline-block;

    margin-top: 20px;
    padding: 15px 30px;

    text-decoration: none;
    letter-spacing: 3px;

    color: #fff;
    border-radius: 10px;
    background-color: #f83b3a;
    transition: .3s;
}

a.btn:hover {
    letter-spacing: 4px;
}

.header_body_inner .right {
	max-width: 35%;
}

.header_body_inner .right img
{
    border-radius: 50%;
    max-width: 100%;
}

body.switchMode .header_body_inner .left .title
{
    color: #fff;
}

section
{
    position: relative;
    transition: all .5s ease;
    width: 100%;
    margin-bottom: 40px;
    padding: 20px 0;
}

.section_title
{
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 45px;

    letter-spacing: 2px;

    color: #333;
}

.about_text p
{
    font-size: 18px;

    margin-bottom: 20px;

    text-align: justify;
    text-indent: 30px;
}

.skill_list {
    margin-left: 130px;
    font-size: 18px;
}

.skill_list li {
    line-height: 1.5;
}

body.switchMode .section_title,
body.switchMode .about_text
{
    color: #fff;
}


.image_item
{
    position: relative;

    display: block;

    max-width: 100%;
    overflow: hidden;
    
    text-decoration: none;
    padding-bottom: 58%;
    margin-bottom: 10px;
}

.image_item img
{
    width: 100%;
    height: 100%;   
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
}

.image_item img:hover 
{
    opacity: 0.8;
    transform: scale(1.05);
}


body.switchMode .item__title {
	color: #fff;
}

#contacts {
    margin-top: 145px;
}

.contacts_form
{
    max-width: 700px;
    margin: 45px auto;
    text-align: center;
}

.contacts_form form input
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px 0 10px 30px;

    border: 1px solid #333;
    border-radius: 3px;
}

.contacts_form textarea
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    width: 100%;
    padding: 10px 0 10px 30px;

    border: 1px solid #333;
    border-radius: 3px;
}

.contacts_form form button
{
    font-size: 20px;

    display: inline-block;

    width: 100%;
    margin-top: 20px;
    padding: 15px 30px;

    text-decoration: none;
    letter-spacing: 2px;

    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #f83b3a;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.contacts_form form button:hover {
    letter-spacing: 3px;
    font-weight: bold;
}

footer
{
    padding: 20px 0;
    background-color: #181918;
}

footer p
{
    text-align: center;
    color: #ccc;
}

.wrap_me {
    display: none;
}

.slick-slider {
    display: flex;
    position: relative;
    padding: 0 60px;
}

.slick-slide {
    padding: 5px;
}

.slick-dots {
    display: flex;
    justify-content: center;

}

.slick-dots li {
    display: block;
    font-size: 0;
    margin: 0 7px;
}

.slick-dots li button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid grey;
    outline: none;
    background-color: #fff;
    transition: all .3s ease;
    cursor: pointer;

}

.slick-dots li.slick-active button {
    background-color: grey;
}

body.switchMode .slick-dots li.slick-active button {
    background-color: black;
    border: 3px solid #fff;
}

.slick-arrow {
    position: absolute;
    top: 40%;
    font-size: 0;
    width: 30px;
    height: 30px;
    border: none;   
    outline: none;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease;
}

.slick-arrow:hover {
    opacity: 1;
    transform: scale(1.05);
}

.slick-prev {
    left: 0;
    background: url('../img/1492790978-5arrow-left_84256.png') 0 0 / 100% no-repeat;
}

.slick-next {
    right: 0;
    background: url('../img/1492790975-4arrow-right_84163.png') 0 0 / 100% no-repeat;
}

body.switchMode .slick-prev {
    background: url('../img/night_arrow_left.png') 0 0 / 100% no-repeat;
}

body.switchMode .slick-next {
    background: url('../img/night_arrow_right.png') 0 0 / 100% no-repeat;
}


@media (max-width: 1025px) {
    .portfolio__item {
       width: 45%;
    }

    .header_body {
        margin: 0;
    }
}


@media (max-width: 767px) {
    section {
        height: auto;
        overflow: auto;
    }
    .item_title {
        font-size: 16px;
    }

    .wrap_me {

    }

    header {
        margin-bottom: 40px;
    }

    .header_head {
        position: fixed;
        top: 0;
        left: 0;
        height: 50px;
        align-items: center;
        display: flex;
        z-index: 2;
    }
    .header_head .container {
        width: 100%;
    }

    .header_body .container {
        padding: 20px;
    }
    .head_inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 5;
        cursor: pointer;
    }
    .burger span {
        background-color: #ccc;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .burger:before,
    .burger:after {
        content: '';
        background-color: #ccc;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    .burger:before {
        top: 0;
    }
    .burger:after {
        bottom: 0;
    }

    .burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .burger.active span {
        transform: scale(0);
    }

    .head_inner .menu {
       position: fixed;
       top: -100%;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: #f83b3a;
       padding: 70px 10px 20px 10px;
       transition: all 0.3s ease 0s;
       overflow: auto;
       z-index: 2;
}

    .head_inner .menu ul {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-content: space-between;
       height: 100%;
    }

    .head_inner .menu li a {
        font-size: 22px;
        margin-top: 20px;
    }

    .head_inner .menu li.switch {
        margin-top: 20px;
    }


    .head_inner .menu.active {
        top: 0;
    }

    .head_inner nav ul li a {
        margin: 0 0 20px 0;
        padding: 0;
    }

    .change-lang {
        margin-left: 0;
        margin-top: 40px;
    }

    .header_body_inner .title {
        font-size: 36px;
    }

    .header_body_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto 0;
    }

    .left {
        text-align: center;
        order: 2;
        max-width: 90%;
        margin-top: 40px;
    }

    

    .header_body_inner .right {
        max-width: 60%;
        margin: 30px auto 0 auto;
    }

    .header_body_inner .right img {
        max-width: 100%;
    }

    .section_title {
        text-align: center;
    }

    .portfolio__item {
        width: 90%;
        margin: 20px auto;
    }


    #contacts {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .slick-slider {
        padding: 0;
        display: block;
    }
}
