*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Montserrat', sans-serif;

    /*position: relative;*/

    -webkit-transition: all .7s ease;
            transition: all .7s ease;

    background-color: #fff;
}

body.lock {
    overflow: hidden;
}

body.switchMode
{
    background-color: #000;
}

.container
{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}

header
{
    position: relative;

    /*overflow: hidden;*/

    width: 100%;
    height: 100vh;

}

.header_head
{
    position: relative;
    width: 100%;
}

.header_head:before {
    content: '  ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #191819;
    z-index: 3;
}

.head_inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.header_body {
    display: flex;
    align-items: center;
}

.head_inner .logo
{
    font-size: 20px;
    font-weight: bold;

    color: #ccc;
    text-decoration: none;
    position: relative;
    z-index: 5;
}

.head_inner nav ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 3 ;
}

.head_inner nav ul li
{
    list-style-type: none;
}

.head_inner nav ul li a
{
    font-size: 14px;

    display: inline-block;

    padding: 20px 30px;

    text-decoration: none;
    text-transform: uppercase;

    color: #ccc;
}

.head_inner nav ul li.switch a
{
    position: relative;

    overflow: hidden;

    width: 45px;
    height: 24px;
    margin-top: 5px;
    padding: 0;

    border: 1px solid #ccc;
    border-radius: 10em;
}

.head_inner nav ul li.switch a:after
{
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;

    content: '';
    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    border-radius: 10em;
    background-color: #ccc;
}

/*.burger {
    display: none;
}
*/

body.switchMode .head_inner nav ul li.switch a:after
{
    left: 20px;
}

.header_body
{
    position: relative;

    width: 100%;
    height: 100%;
    /*margin-top: 120px;*/
}

.header_body_inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_body_inner .title
{
    font-size: 46px;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    color: #333;
}

.header_body_inner .title span
{
    color: #f83b3a;
}



a.btn
{
    font-weight: bold;

    display: inline-block;

    margin-top: 20px;
    padding: 15px 30px;

    text-decoration: none;
    letter-spacing: 3px;

    color: #fff;
    border-radius: 10px;
    background-color: #f83b3a;
}

.header_body_inner .right {
	/*display: block;*/
	max-width: 35%;
}

.header_body_inner .right img
{
    border-radius: 50%;
    max-width: 100%;
}

body.switchMode .header_body_inner .left .title
{
    color: #fff;
}

section
{
    position: relative;
    transition: all .5s ease;
    width: 100%;
    margin-bottom: 40px;
    padding: 20px 0;
}

.section_title
{
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 45px;

    letter-spacing: 2px;

    color: #333;
}

.about_text p
{
    font-size: 18px;

    margin-bottom: 20px;

    text-align: justify;
    text-indent: 30px;
}

.skill_list {
    margin-left: 130px;
    font-size: 18px;
}

.skill_list li {
    line-height: 1.5;
}

body.switchMode .section_title,
body.switchMode .about_text
{
    color: #fff;
}



.portfolio_items
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}

.portfolio__item {
    width: 30%;
    margin: 20px 10px 15px 10px;
}

.image_item
{
    position: relative;

    display: block;

    max-width: 100%;
    overflow: hidden;
    
    text-decoration: none;
    padding-bottom: 58%;
    margin-bottom: 10px;

}

.image_item img
{
    width: 100%;
    height: 100%;   
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.item_title a {
	font-size: 20px;
	color: #000;
    text-decoration: none;
}

.item_title a:hover {
	text-decoration: underline;
}

body.switchMode .item_title a {
	color: #ccc;
}

body.switchMode .item_title a:hover {
	color: #fff;
}

body.switchMode .image_item img:hover {
    border: 2px solid #fff;
    opacity: 0.8;
}

#contacts {
    margin-top: 145px;
}

.contacts_form
{
    /*position: relative;*/

    max-width: 700px;
    margin: 45px auto;

    text-align: center;
}

.contacts_form form input
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px 0 10px 30px;

    border: 1px solid #333;
    border-radius: 3px;
}

.contacts_form textarea
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    width: 100%;
    padding: 10px 0 10px 30px;

    border: 1px solid #333;
    border-radius: 3px;
}

.contacts_form form button
{
    font-size: 20px;

    display: inline-block;

    width: 100%;
    margin-top: 20px;
    padding: 15px 30px;

    text-decoration: none;
    letter-spacing: 3px;

    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #f83b3a;
    outline: none;
    cursor: pointer;
}


footer
{
    /*position: relative;*/

    padding: 20px 0;

    background-color: #181918;
}

footer p
{
    text-align: center;

    color: #ccc;
}

.wrap_me {
    display: none;
}





@media (max-width: 1025px) {
    .portfolio__item {
       width: 45%;
    }

    .header_body {
        margin: 0;
    }

   /* .header_body_inner .right img {
        max-width: 80%;
        margin: 0 auto;
        display: block;
    }*/
}


@media (max-width: 767px) {
    section {
        height: auto;
        overflow: auto;
    }
    .item_title {
        font-size: 16px;
    }

    .wrap_me {

    }

    header {
        margin-bottom: 40px;
    }

    .header_head {
        position: fixed;
        top: 0;
        left: 0;
        height: 50px;
        align-items: center;
        display: flex;
        z-index: 2;
    }
    .header_head .container {
        width: 100%;
    }

    .header_body .container {
        padding: 20px;
    }
    .head_inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 5;
    }
    .burger span {
        background-color: #ccc;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .burger:before,
    .burger:after {
        content: '';
        background-color: #ccc;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    .burger:before {
        top: 0;
    }
    .burger:after {
        bottom: 0;
    }

    .burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .burger.active span {
        transform: scale(0);
    }

    .head_inner .menu {
       position: fixed;
       top: -100%;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: #f83b3a;
       padding: 70px 10px 20px 10px;
       transition: all 0.3s ease 0s;
       overflow: auto;
       z-index: 2;
       /*text-align: center;*/
       
    }

    .head_inner .menu ul {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-content: space-between;
       height: 100%;
    }

    .head_inner .menu li a {
        font-size: 22px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .head_inner .menu li.switch {
        margin-top: 20px;
/*        display: flex;
        align-items: center;
        justify-content: space-between;*/
    }

/*    .head_inner .menu li.switch span {
        height: 100%;
        font-size: 24px;
        text-transform: uppercase;
    }*/

    .head_inner .menu.active {
        top: 0;
    }

/*    .head_inner nav ul {
        display: block;
    }*/

    .head_inner nav ul li a {
        margin: 0 0 20px 0;
        padding: 0;
    }

/*    .header_body .container {
        display: flex;
        align-items: center;
        height: 100%;
    }
*/
    .header_body_inner .title {
        font-size: 36px;
    }

    .header_body_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto 0;
    }

    .left {
        text-align: center;
        order: 2;
        max-width: 90%;
        margin-top: 40px;
    }

    

    .header_body_inner .right {
        max-width: 60%;
        margin: 30px auto 0 auto;
    }

    .header_body_inner .right img {
        max-width: 100%;
    }

    .section_title {
        text-align: center;
    }

    .portfolio__item {
        width: 90%;
        margin: 20px auto;
    }

    .portfolio__item:nth-child(4) {
        display: none;
    }


    #contacts {
        margin-top: 10px;
    }


}

